<div class="info-right">
    <b>Правила пополнения:</b>
    <ul>
        <li>- при созданиие заявки сервис скоректирует сумму пополнения с учетом уже существующих заявок и сообщит дальнейшие инструкции;</li>
        <li>- пополнить НАШ счет в системе EasyPay через валютные кассы Белгазпромбанка, банкоматы, инфокиоски или интернет-банкинг ближайшего банка, а так же в любом почтовом отделении Белпочта;</li>
        <li>- после пополнения нашего счета необходимо подтвердить оплату на главной <a href="{HOME_URL}">странице сервиса</a> перейдя по ссылке &laquo;Сообщить об оплате&raquo; и указав номер заявки;</li>
    </ul>

    <div class="text"><b>Посмотреть список почтовых отделений, где можно произвести пополнение счета расположен на <a href="https://ssl.easypay.by/input/post_office/" target="_blank">этой странице</a></b>. </div>
</div>
