<div class="item">
    <div class="title">{title}</div>
    <div class="text">{contents}</div>
    <div class="topic"><b>Дата публикации : {data}</b></div>
    <hr color="BDB76B" noshade="" size="1">
</div>