<meta name='yandex-verification' content='7e52b4e6f0688ec4' />
<script src="{STATIC_URL}/js/vs.js" type="text/javascript" language="JavaScript"></script>
<script src="{STATIC_URL}/js/ajaxComplete.js" type="text/javascript" language="JavaScript"></script>