body
{
        background-color: #F0E68C;
		text-align: center;
        margin-left: 5;
        margin-right: 5;
		margin-top: 5;
		margin-bottom: 5;
        font-family: Verdana, Helvetica, serif;
        font-size: 11px;
        color: #404040;
        text-align: left;
        line-height: 18px;
}
STRONG
{
	COLOR: #000000;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
}
#margin
{


	padding-left: 10px;
	text-align: left;
}
#bottom
{
	padding-bottom: 3px;
}

#padding
{
	padding: 5px;
}
FORM
{
	MARGIN: 0px;
}

TABLE
{
	BORDER: 0px
}
IMG
{
	BORDER: 0px
}

h1 {font-size: 12px; display: inline; color: #333333;}
h3 {font-size: 12px; display: inline; color: #333333;}
strong {font-size: 11px; display: inline; color: #333333;}
.hidden{display: none;}
.block{display: block;}
#notifyblock,#loadingblock{position:fixed;top:0px;left:0px;height:100%;width:100%;z-index:10;display:none}
.resError {position:relative;top:50%;left:0px;margin:0 auto;width:500px;padding:10px;FONT-SIZE:11px;FONT-FAMILY:verdana;color:#333333;FONT-WEIGHT:bold;BORDER:#ff0000 1px solid;background-color:#FFFACD;box-shadow: 0px 0px 5px rgb(51, 51, 51);text-align:center}
.loadingDoc{position:relative;top:50%;left:0px;margin:0 auto;width:500px;padding:10px;border: 1px solid #FFE006;background-color: #FFFFAA;font-family:Verdana;font-size:13px;color:#333;FONT-WEIGHT:bold;text-align:center;box-shadow: 0px 0px 5px rgb(51, 51, 51);}
.substrate{min-height: 100%;height: 100%;width: 100%;display: none;position: fixed;top: 0px;left: 0px;z-index: 5;}
.orange{color:#FFA500}
.silver{color:#C0C0C0}
.blue{color:#0000FF}
.green{color:#008000}
.red{color:#FF0000}

a.menu_gl {
	FONT-SIZE: 10px;
	FONT-FAMILY: verdana;
	color: #014a9d;
	vertical-align: top;
}
a.menu_gl:hover {	
FONT-SIZE: 10px;
	FONT-FAMILY: verdana;
	color: #00008B;

	TEXT-DECORATION: none}
.atl {color:#012444;font:11px Verdana, sans-serif;text-align:left;border:1px solid #7B9BB7;background:#E7F0FD;margin:5px;padding:5px;}
a {FONT-SIZE: 11px; COLOR: #014a9d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none;}
A:hover
{
	COLOR: #00008B;
	TEXT-DECORATION: none;
}
a.q div{display:none;}
a.q:hover div{display:block;
position:absolute;
margin-top:5px;
margin-left:5px;
}
.title {width:240px;color:#012444;font:11px Verdana, sans-serif;text-align:left;border:1px solid #7B9BB7;background:#E7F0FD;margin:5px;padding:5px;}
#cursor{cursor: hand}

INPUT
{
		MARGIN: 0px;
	background-color: #f3f7ff;
	color : #333333;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid;
	border-color : #99ccff;
}
input.empty
{
		MARGIN: 0px;
	
	color : #333333;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid;
	border-color : #99ccff;
}
input.button_white
{
		MARGIN: 0px;
	
	background-color: #ffffff;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid;
	border-color : #99ccff;
}
textarea
{
	background-color: #f3f7ff;
	color : #333333;
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid;
	border-color : #99ccff;
}
select
{
	background-color: #f3f7ff;
	color : #333333;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid;
	border-color : #99ccff;
}
select.button_white
{
		MARGIN: 0px;
	
	background-color: #ffffff;
	color : #333333;
	font: normal 11px Verdana, Arial, Helvetica, sans-serif;
	border:1px solid;
	border-color : #99ccff;
}
.top_logo
{

	position: relative; 
	top:5px; 
	left:-355px;
	width: 170px;
	height: 60px;
	
	BORDER: #C0C0C0 1px solid; 

	background-color : #FFE4B5;
}
.border
{	width: 900px;
	margin-top: 20px;
	margin-bottom: 20px;
	BORDER: #BDB76B 2px solid; 
	background-color: #f3f7ff;
}
.border_partner
{	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
	BORDER-LEFT: #BDB76B 2px solid; 
	BORDER-RIGHT: #BDB76B 2px solid;
	BORDER-TOP: #BDB76B 2px solid;  
	BORDER-BOTTOM: #BDB76B 2px solid;
	background-color: #f3f7ff;
}
.div_include {
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana;
	color: #333333;
	position: static;
	border: #C0C0C0 1px solid;
	padding: 5px;
	background-color: #fcfcfc;
	vertical-align: top;
}
.border_img {
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana;
	color: #333333;
	position: static;
	border: #C0C0C0 1px solid;
	background-color: #fcfcfc;
	vertical-align: top;
}
.top_title {
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana;
	color: #333333;
	position: static;
	border: #C0C0C0 1px solid;
	padding: 5px;
	margin-bottom: 15px;
	background-color: #F0E68C;
	vertical-align: top;
}
.div_operok {
	FONT-SIZE: 11px;
	FONT-FAMILY: Arial;
	color: #333333;
	position: static;
	border: #C0C0C0 1px solid;
	padding: 5px;
	background-color: #FFFACD;
	vertical-align: middle;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}
.menu {
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana;
	color: #333333;
	position: static;
	BORDER-LEFT: #C0C0C0 1px solid; 
	BORDER-RIGHT: #C0C0C0 1px solid;
	BORDER-TOP: #C0C0C0 1px solid;  
	BORDER-BOTTOM: #C0C0C0 1px solid;
	background-color: #fcfcfc;
	vertical-align: top;
}
.menu_line {
	height: 14px;
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana;
	color: #333333;
	position: static;
	background-color: #fcfcfc;
	vertical-align: top;
	padding-left: 2px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.menu_linex {
	height: 13px;
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana;
	color: #333333;
	position: static;
	BORDER-BOTTOM: #C0C0C0 1px solid;
	background-color: #B0C4DE;
	vertical-align: top;
	text-align: right;
	padding: 3px;
	FONT-WEIGHT: bold;
}
.menu_line_top {width:200px;
	height: 15px;
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana;
	color: #333333;
	position: static;
	BORDER-BOTTOM: #C0C0C0 1px solid;
	background-color: #B0C4DE;
	vertical-align: top;
	padding: 5px;
}
.input_img {
	FONT-SIZE: 11pt;
	text-align: center;
	FONT-FAMILY: verdana, arial, helvetica;
	background-color: #ffffff;
	border: #666666 0px outset;
}
.borderm
{
	BORDER-RIGHT: #485c80 1px solid;
	BORDER-LEFT: #485c80 1px solid;
	BORDER-TOP: #485c80 1px solid; 
	BORDER-BOTTOM: #485c80 1px solid; 
}

.form_bord
{
	BORDER-LEFT: #C0C0C0 1px solid; 
	BORDER-RIGHT: #C0C0C0 1px solid;
	BORDER-TOP: #C0C0C0 1px solid;  
	BORDER-BOTTOM: #C0C0C0 1px solid;

}
div.text
{
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana;
	COLOR: #333333; 
}
.text {FONT-SIZE: 12px; FONT-FAMILY: verdana; color: #333333; line-height: 130%;}
.text_white {FONT-SIZE: 12px; FONT-FAMILY: verdana; color: #ffffff; line-height: 130%;FONT-WEIGHT: bold}
.text_log {FONT-SIZE: 10px; FONT-FAMILY: verdana, Trebuchet  MS; color: #333333;}
div.small {FONT-SIZE: 10px; FONT-FAMILY: verdana; color: #000000;
}
.oper_ok {FONT-SIZE: 14px; FONT-FAMILY: verdana; color: #000000; FONT-WEIGHT: bold;
}
.text_rules {FONT-SIZE: 11px; FONT-FAMILY: Trebuchet  MS; COLOR: #676767; LINE-HEIGHT: 18px; 
}

.td1 {	
	FONT-SIZE: 12px; FONT-FAMILY: verdana; color: #000000;
	BORDER-RIGHT: #485c80 1px solid;
	BORDER-BOTTOM: #485c80 1px solid;
}
.td_log {
	BACKGROUND: #fcfcfc;
	BORDER-RIGHT: #DCDCDC 1px solid;
 	BORDER-BOTTOM: #DCDCDC 1px solid;
}
.td_log_top {	
	FONT-SIZE: 11px; FONT-FAMILY: verdana; color: #000000;
	BORDER-top: #DCDCDC 1px solid;
	BORDER-RIGHT: #DCDCDC 1px solid;
	BORDER-BOTTOM: #DCDCDC 1px solid;
	BACKGROUND-COLOR: #edf2f9;
}
.red { 
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana;
	color: #ff0000;
	FONT-WEIGHT: bold;
}
.redin {
	FONT-SIZE: 10px;
	FONT-FAMILY: verdana;
	color: #ff0000;
	FONT-WEIGHT: bold;
}
.black { 
	FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana; 
	color: #000000; 
	FONT-WEIGHT: bold;
}

.blue {
	FONT-SIZE: 11px;
	COLOR: #014a9d;
	FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
.blue2 {

	FONT-SIZE: 10px;
	COLOR: #6495ED;
	FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}	

.yellow {
	COLOR: #6495ED;
}
.green {
	FONT-SIZE: 12px;
	COLOR: #008000;
	FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
.orange {
	COLOR: #ff6d0b;
}

.sup {	BACKGROUND: #fcfcfc;
 	BORDER-BOTTOM: #DCDCDC 1px solid;
}
.sup_top {	FONT-SIZE: 11px; FONT-FAMILY: verdana; color: #000000;
		BORDER-top: #DCDCDC 1px solid;
		BORDER-BOTTOM: #DCDCDC 1px solid;
		BACKGROUND-COLOR: #edf2f9;
}

.text_mess {	FONT-SIZE: 12px; FONT-FAMILY: verdana; color: #000000;
		BACKGROUND-COLOR: #f5f5f5;
		padding-left: 10px;
		padding-RIGHT: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
}
.div_border {

	position: static;
	BORDER-LEFT: #C0C0C0 1px solid; 
	BORDER-RIGHT: #C0C0C0 1px solid;
	BORDER-TOP: #C0C0C0 1px solid;  
	BORDER-BOTTOM: #C0C0C0 1px solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fcfcfc;

}
.bl_top { 
	FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana; 
	color: #000000; 
	FONT-WEIGHT: bold;
}



.informer_p
{
	padding-left: 5px;
	padding-right: 0px;
	padding-bottom: 10px;
} 
.sel_act {
	padding-top: 2px;
	padding-bottom: 2px;
	BORDER-BOTTOM: #C0C0C0 1px solid;
	FONT-SIZE: 11px;
	COLOR: #eb5252;
	FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	background-color: #fcfcfc;
}
.un_sel_act {
	padding-top: 2px;
	padding-bottom: 2px;
	BORDER-TOP: #C0C0C0 1px solid; 
	BORDER-LEFT: #C0C0C0 1px solid; 
	BORDER-RIGHT: #C0C0C0 1px solid;
	BORDER-BOTTOM: #C0C0C0 1px solid;
	BACKGROUND-COLOR: #f3f7ff;
}
#unsel_left
{
	BORDER-LEFT: #C0C0C0 2px solid; 
}
#unsel_right
{
	BORDER-RIGHT: #C0C0C0 2px solid; 
}
#height {
	HEIGHT: 100%;
}
.text_inf {
	FONT-SIZE: 11px;
	COLOR: #333333;
	FONT-FAMILY: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	BORDER-LEFT: #C0C0C0 1px solid; 
	BORDER-RIGHT: #C0C0C0 1px solid;
	BORDER-BOTTOM: #C0C0C0 1px solid;
	BACKGROUND-COLOR: #f2f2f2;
}

.news {
	BORDER-LEFT: #C0C0C0 1px solid; 
	BORDER-RIGHT: #C0C0C0 1px solid;
	BORDER-TOP: #C0C0C0 1px solid;  
	BORDER-BOTTOM: #C0C0C0 1px solid; 
	BACKGROUND-COLOR: #ffffff;
}
.eshop_info {
	BORDER: #C0C0C0 1px solid; 
	BACKGROUND-COLOR: #ffffff;
	width: 300px;
}
.index_top {
	PADDING: 2px;
	FONT-SIZE: 12px;
	FONT-FAMILY: verdana;
	color: #333333;
	BORDER-LEFT: #C0C0C0 1px solid; 
	BORDER-RIGHT: #C0C0C0 1px solid;
	BORDER-TOP: #C0C0C0 1px solid; 
	BACKGROUND-COLOR: #F0E68C;
}
.index_bottom {
	FONT-SIZE: 11px;
	FONT-FAMILY: verdana;
	color: #333333;
	PADDING: 5px;
	margin-bottom: 20px;
	BORDER: #C0C0C0 1px solid; 
	BACKGROUND-COLOR: #ffffff;
}

/* стили применяемые для скролинга новостей */
.tickercontainer { 
border: 1px solid #C0C0C0;
background: #fff;
width: 435px;
height: 40px;
margin: 0;
padding: 0
overflow: hidden;
}
.tickercontainer .mask {
position: relative;
left: 7px;
top: 8px;
width: 420px;
overflow: hidden;
}
ul.newsticker {
position: relative;
left: 0px;
font: bold 10px Verdana;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: right;
margin: 0;
padding: 0;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #ff0000;
font: bold 10px Verdana;

}
ul.newsticker span {
white-space: nowrap;
padding: 0;
color: #000000;
font: bold 10px Verdana;
margin: 0 30px 0 0;
}
#id_left{
float:left;
left:0px;
background: #fff;
}
#id_right{
float:right;
right:0px;
background: #fff;
}
/* стили применяемые для скролинга новостей */
#report {
padding:5px;
margin-left:40px;
margin-right:40px;
BORDER: #ff0000 1px solid;
background-color: #FFFACD;
}
.report {
padding:5px;
margin-left:40px;
margin-right:40px;
BORDER: #ff0000 1px solid;
background-color: #FFFACD;
}
#load {
display:none;
position: absolute;
width: 300px;
margin-right: auto;
margin-left: auto;
left: 40%;
z-index: 1002;
padding: 10px;
background-color: #E7F0FD;
border:1px solid #7B9BB7;
}
div.button {
padding: 3px;
margin: 10 30 10 30;
background-color: #fcfcfc;
BORDER: #BDB76B 1px solid; 
}
div.button:hover {
padding: 3px;
background-color: #f3f7ff;
BORDER: #BDB76B 1px solid;
cursor: pointer;
}
.clearfloat {CLEAR: both; FONT-SIZE: 1px; LINE-HEIGHT: 0px; HEIGHT: 0px}
#margin_top {MARGIN-top: 5px;}


#menu {
	BACKGROUND: url(img/blue_main.gif) #35a6dd; margin-top: 10px; WIDTH: 120px; HEIGHT: 33px;
}
#menu_l {
	BACKGROUND: url(img/blue_line_l.gif); FLOAT: left; OVERFLOW: hidden; WIDTH: 1px; HEIGHT: 33px
}
#menu_r {
	BACKGROUND: url(img/blue_line_r.gif); FLOAT: right; OVERFLOW: hidden; WIDTH: 3px; HEIGHT: 33px
}


#menu UL LI {
	FLOAT: left; 
}
#menu UL LI A {
	DISPLAY: block; FONT-SIZE: 13px; MARGIN: 0px auto; WIDTH: 86px; COLOR: #fff; LINE-HEIGHT: 33px; HEIGHT: 33px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.bathed_goods {background-color: #ffffff; FONT-SIZE: 10px; FONT-FAMILY: verdana, Trebuchet  MS; color: #808080;}
