    <div class="top-title">Информация о компании</div>
    <div class="text_rules">
        <b>WM-RB.net</b> — Автоматический обменный пункт по обмену WebMoney, EasyPay.
        Предоставление услуг по оплате мобильной связи, услуг интернет-провайдеров, банковские услуги.
    </div>

    <div class="text_rules">
        <b>Время работы</b> — круглосуточно
    </div>

    <div class="text_rules">
        <b>Время работы службы поддержки</b> — с 10 по 18 часов по МСК.
    </div>

    <div class="text_rules">
        <b>Администратор проекта</b> — Глухоедов Владимир Николаевич
    </div>