    <div class="top-title">Правила и условия пользования услугами сайта WM-RB.net</div>
    <div class="title">УВЕДОМЛЕНИЕ О РИСКАХ</div><br />
    <div class="text_rules">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Предлагаемые товары и услуги предоставляются не по заказу лица либо предприятия, эксплуатирующего систему WebMoney Transfer. Мы являемся независимым предприятием, оказывающим услуги, и самостоятельно принимаем решения о ценах и предложениях. Предприятия, эксплуатирующие систему WebMoney Transfer, не получают комиссионных вознаграждений или иных вознаграждений за участие в предоставлении услуг и не несут никакой ответственности за нашу деятельность.
        Аттестация, произведенная со стороны WebMoney Transfer, лишь подтверждает наши реквизиты для связи и удостоверяет личность. Она осуществляется по нашему желанию и не означает, что мы каким-либо образом связаны с продажами операторов системы WebMoney.
    </div>
    <div class="title"><br />Правила и условия пользования услугами сайта WM-RB.net</div><br />
    <div class="text_rules">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Перед использованием платежного сервиса WM-RB.net(далее СЕРВИС) пользователь обязан ознакомиться с настоящими правилами. В случае если пользователь не согласен с какими либо пунктами наших правил, он не имеет право на использование СЕРВИСА.  Настоящее соглашение устанавливает правила и условия, в соответствии с которыми СЕРВИС предоставляет свои сервисы и услуги. Этим соглашением устанавливаются также права и обязанности сторон. Пользователь обязан прочитать и принять условия настоящего соглашения. Соглашение может в любое время быть изменено в одностороннем порядке без дополнительных уведомлений.<br /><br />
        <u>1.	ОБЩИЕ ПОЛОЖЕНИЯ</u><br /><br />
        1.1 Данное соглашение определяет условия предоставления обменным пунктом WM-RB.net(в дальнейшем - Сервис) услуг автоматического обмена электронных валют. Соглашение определяет права и обязанности клиентов на использование услуг Сервиса.<br />
        1.2 Использование услуг Сервиса означает абсолютное согласие Клиента с условиями данного соглашения, а также принятие всех обязательств, описанных в данном соглашении.<br />
        1.3 Данное соглашение является договором оферты. Присоединением к договору считается начало обмена в Сервисе. В случае несогласия с положениями данного соглашения Клиент не имеет право проводить процедуру обмена.<br /><br />
        <u>2.	ПРЕДОСТАВЛЕНИЕ УСЛУГ СЕРВИСОМ</u><br /><br />
        2.1 Сервис предоставляет клиентам услуги автоматического обмена, покупки, продаже электронных валют согласно установленным тарифам на операционных страницах Сервиса. Обменом считается конвертация одной электронной валюты в ее эквивалент в другой электронной валюте с удержанием комиссии Сервиса.<br />
        2.2 Администрация Сервиса не несет ответственности и не возмещает убытки, возникшие при неправильном использовании Сервиса, а также из-за ошибок Клиента, совершенных при заполнении формы обмена, которые могут привести к переводу средств на ошибочно указанный счет.<br />
        2.3 Операция считается завершенной с момента перевода Сервисом суммы на счет Клиента в указанной платежной системе.<br />
        2.4 Операция обмена производиться автоматически и является однородной транзакцией. Возврат переведенных средств после завершения обмена невозможен. В случае невозможности осуществления сделки мгновенно (отсутствие связи с сервером платежной системы, технические неполадки), перевод денег Клиенту происходит автоматически, после устранения технических проблем.<br /><br />
        <u>3.	УСЛОВИЯ ПРОВЕДЕНИЯ ОБМЕННЫХ ОПЕРАЦИЙ</u><br /><br />
        3.1 Запрещено использование Сервиса для проведения мошеннических операций и ведения любой незаконной деятельности. Используя услуги Сервиса, Клиент соглашается с тем, что любая попытка обмена мошеннических финансовых средств будет иметь судебное преследование по всей строгости закона.<br />
        3.2 Клиент обязуется руководствоваться инструкциями, которые приведены в оформлении и/или оплате заявки на обмен, как дополнительное приложение к данному соглашению.
        3.3 Клиент при принятии соглашения гарантирует, что он имеет законные права на использование счета, с которого поступают деньги на платежные реквизиты Сервиса.<br />
        3.4 Клиент обязуется не нарушать законов, указов и нормативных актов тех юрисдикций, в которых зарегистрированы используемые платежные системы, а так же юрисдикций, в которых действуют отправитель и получатель платежа.<br />
        3.5 Пользователь несет ответственность за подлинность предоставляемой информации, а также обязуется предоставить по запросу Сервиса дополнительную информацию, которая имеет непосредственное отношение к обмену.
        3.6 Администрация Сервиса имеет право отказать в использовании услуг Сервиса любому клиенту, на которого поступит претензия от правоохранительных органов, администрации платежных систем либо пользователя одной из платежных систем.<br />
        3.7 В случае невозможности перевода средств на счет получателя платежа, либо по просьбе Клиента средства возвращаются за вычетом комиссии платежной системы и других возможных убытков, понесенных Сервисом.<br />
        3.8 В случае возникновения сбоя в работе обменного Сервиса, Клиент обязан сообщить об этом в службу поддержки Сервиса одним из доступных Клиенту способов в течение 7 дней с указанием деталей проводимой операции обмена.<br />
        3.9 Администрация оставляет за собой право удерживать и не возвращать поступившие средства Клиентам, предпринявшим попытки DDos и других видов атак на сервер Сервиса.<br />
        3.10 При выполнении обмена клиент не должен изменять сервисную информацию, передаваемую платежной системе (такую как поля  Description, назначение платежа). При выявлении факта изменения этой информации сервис имеет право задержать платеж до выяснения причин.<br />
        3.11 Сервис вправе отменить выполняющуюся операцию и вернуть внесенные Клиентом электронную валюту и/или финансовые средства без объяснения причин.<br />
        3.12 Сервис не несет ответственности за действия платежных систем, банков и за задержки связанные с их работой.<br /><br />

        <u>4 ОТСУТСТВИЕ ГАРАНТИЙ СО СТОРОНЫ АДМИНИСТРАЦИИ СЕРВИСА</u><br />
        <br />
        4.1 Мы предоставляем в Ваше пользование услуги Сервиса в том виде, в каком они существуют на настоящий момент.<br />
        4.2 Мы не гарантируем постоянный или безусловный доступ к предоставляемым Сервисом услугам. Функционирование Сервиса может нарушаться действиями непреодолимых сил и иных факторов, предотвращение или преодоление которых выходит за пределы возможностей организаторов Сервиса.<br />
        4.3 Сервис не будет ответственен перед Клиентом за задержки или иные не исполнения своих обязательств согласно положениям настоящего Соглашения, являющихся результатом возникновения обстоятельств непреодолимой силы, включая стихийные бедствия, акты правительственной или регулирующей власти, войны, огня (пожара), наводнения, взрыва, терроризма, бунта или гражданского волнения, или отсутствия, не функционирования или работы со сбоями энергоснабжения, поставщиков Интернет услуг, или сетей связи или других систем, сетей и услуг.<br />
        <br />
        <u>5 ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</u><br />
        <br />
        5.1. Все споры между Пользователями и организаторами Сервиса будут разрешаться путем переговоров.<br />
        5.2. Любые убытки, которые Пользователь можете понести в случае умышленного или неосторожного нарушения любого требования данных правил и связанных с ним регламентов, организаторами Сервиса не возмещаются.<br />
        5.3. Максимальная имущественная ответственность организаторов Сервиса не может превышать величины, эквивалентной Вашей плате за пользование услугами Сервиса.<br />
        5.4. В случае, если сделка по оформленной заявке не состоялась, оплаченные средства могут быть перенесены на новую заявку Пользователя или возвращены. Возврат средств осуществляется за счет Пользователя на его счет в исходные платежные системы.<br />
        <u>6 ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</u><br />
        6.1 Администрация Сервиса оставляет за собой право в любой момент вносить изменения и дополнения в настоящее соглашение.

    </div>