<li><p>{desc_val}</p>
    <div class="popup-menu_levelTwo">
        <div style="white-space:nowrap;">
            <div style="padding: 5px;">
                <ul title="{L_exchange} {desc_val}">
                    {item}
                </ul>
            </div>
        </div>
    </div>
</li>